   /*  body and font definitions */
body {
  background: url('/img/bg.png');
  background-repeat: repeat-x;
  background-color: #fff;
  margin-top: 25px;
  margin-left: 60px;
  margin-right: 60px;
 
}

html>body {
	font-family: luxi sans, trebuchet ms, bitstream vera sans, sans-serif;
}

#userinfo {
padding-top: 20px;
font-size: 80%;
float: right;
}
#logo {
margin-bottom: 60px;
}
p {
/*padding-left: 12px;
padding-right: 12px;*/
font-size: 90%;
color: #2e3436;  /* Tango DARK-GREY */
}

#page {
    background: url('/img/cbg.png');
    background-repeat: repeat-x;
    background-color: #eeeeec;  /* Tango GREY */
/*        float: left;*/
/*            width: 100% - 175px;*/
/*			margin: 0px;*/
			
			margin-left: 165px; /* Push across width of sidebar, minus 10px, for bg behind round corner */
			padding-left: 10px; /* Prints BG for 10px, now flush with sidebar */
			
			padding-top: 6px;
			
/*			z-index: -1;*/
			
/*			padding-right: 8px; */
/*			padding-left: 16px;*/
/*        margin-left: 280px;*/
min-height: 500px;
}
#content {
    padding-left: 12px;
    padding-right: 12px;
}

#sidebar {
color: #eeeeec; /* Tango WHITE */
    background: url('/img/sbg.png');
    background-repeat: repeat-x;
    background-color: #2e3436;  /* Tango DARK-GREY */
float: left;
min-height: 500px;
width: 175px;

text-align: right;
margin-right: 0px;
padding-right: 0px;
padding-bottom: 6px;

-moz-border-radius-bottomleft: 20px;
-khtml-border-radius-bottomleft: 20px;
border-radius-bottomleft: 20px;

-moz-border-radius-bottomright: 20px;
-khtml-border-radius-bottomright: 20px;
border-radius-bottomright: 20px;

/*-moz-border-radius: 15px;*/
}
.helpitem {
/* FIXME! */
}
.selecteditem {
background-image: url('/img/sel.png');
width: 175px;
background-repeat: repeat-none;
color: #2e3436;
}


ul.nav,
.nav ul{
/*Remove all spacings from the list items*/
/*float: right;*/
/*display: block; */
margin-right: 0px;
padding-left: 4px;
margin-left: 6px;
/*padding-left: 0px; /* Use this instead of margin? */
padding-right: 0px;
/*	cursor: default;*/
	list-style-type: none;
}
a.nav,
.nav a{
color: #eeeeec;
text-decoration:none;
}

a.selecteditem,
.selecteditem a,
.selecteditem a:link,
.selecteditem a:visited {
color: #2e3436;
text-decoration:none;
}

li.nav,
.nav li{
    display: block;
	font-size: 115%; /* Bold maybe?  */
    min-height: 35px;
/*    color: #eeeeec;*/
	text-align: left;
	
	padding-left: 15%;
	
    padding-right: 15px;
    margin-bottom: 15px;
text-decoration:none;
    margin-top: 5px;
	width: 95%;
}

img.icon {
    margin-right: 6px;
	vertical-align:middle;
}

.breadcrumb {
    font-size: 75%;
}
ul.nav{
	width: 100%;
}
.htable {
border: 3px solid #729fcf;
/*font-size: 110%;*/
-moz-border-radius: 10px;
}


.hrow {
color: #d3d7cf;
 font-weight: bold;
padding-left: 4px;
}

.highlight, .highlight0 {
color: #d3d7cf;
background-color: #204a87;
}

.highlight1 {
color: #d3d7cf;
background-color: #3465a4;
}

.drow {
color: #d3d7cf;
}

.error, .info {
-moz-border-radius: 5px;

margin-right: 12px;
min-height:18px; /* Icon size - total padding (top & bottom) */
padding-top: 8px;
padding-bottom: 8px;


padding-left: 36px;
background-repeat: no-repeat;
}

.error {
background-image: url('/img/dialog-error-32.png');
background-color: #a40000;
color: #eeeeec;
border: 3px solid #cc0000;
}

.info {
background-image: url('/img/dialog-information-32.png');
background-color: #3465a4;
color: #eeeeec;
border: 3px solid #204a85;
}

.tlist {
padding-bottom: 3px;
padding-top: 3px;
font-size: 80%;
padding-left: 16px;
}

.floaty {
float: right;
padding-left: 16px;
padding-right: 16px;
display: block;
}
