#overlay {
    position: absolute;
    z-index:80;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#000;
    filter:alpha(opacity=40);
    -moz-opacity: 0.4;
    opacity: 0.4;
}
#box {
	width: 50%;
	background: #d3d2cf;
	padding: 10px;
	border: 2px solid #eee;
}

#close {
	position: absolute;
	top: -5px;
	right: -5px;
	cursor: pointer;
}
