body,
#content {
    background: none;
    border: none;
    font-size: 10pt;
    font-family: times new roman, times, serif !important;
    /*
    display: inline;
    */
}

/* Turn off UI chrome */
#notification,
#section-user,
#section-sidebar,
#sourcebar,
#toolbar,
#tabs-and-search,
#conv-breadcrumbs,
#page-header
{ display: none !important; }

#page-frame #section-content,
#page-frame td td { display: table-cell; }

#content-iframe { display: block; }

/* Summary */

/* Mail */
.msg.closed { display: none; }

#conv-msg-list { padding: 0; }

.msg {
    border-top: 2px dashed #000;
    margin-top: 2em;
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;
}
    
    .msg .msg-content { border: none; }

    .msg .msg-header {
        background: none !important;
        page-break-inside: avoid;
        display: block;
        margin-bottom: 1em;
    }
        
        .msg .msg-header .sender {
            padding: 0.25em 0;
            margin: 0;
            font-size: 150%;
            display: block;
            position: relative;
            right: 10px;
            font-weight: bold;
        }

        .msg .msg-header .disclosure {
            display: none;
        }
        .msg .msg-header .date {
            display: block;
        }

        .msg .msg-header .people {
            padding: 0 1ex 0 0;
        }

    .msg .pointer-border {
        display: none;
    }

    .msg .face {
        top: 0;
        margin: 2px;
        border: 1px dashed #ccc;
        /* Hide for now */
        display: none;
    }

    .msg .msg-body {
        clear: both;
        display: inline;
        line-height: 1.4;
        font-size: 10pt;
        page-break-before: avoid;
        page-break-after: auto;
        page-break-inside: avoid;
    }

    .msg .msg-actions,
    .msg .msg-snippet {
        display: none;
    }


/* Calendar */
#calendar { }

    #calendar .buble {
        overflow: visible;
        font-size: 8pt;
    }

    .timestrip,
    .calstripes,
    table.columnview ul.timed-events {
        height: 8.25in;
    }

    /* Calendar items - generic */
    #calendar .item {
        -moz-border-radius: 0;
        background: none !important;
    }

    #calendar .columnview { }

        #calendar .columnview .item {
            overflow: visible;
            margin: 0;
            padding: 0;
        }

            #calendar .columnview .item strong {
                color: #000;
                background-color: #fff;
                padding: 2px;
                text-align: left;
                margin: 2px 2px 2px 2px;
            }

            #calendar .columnview .item .resize {
                display: none;
            }

        /* Calendar items - timed */
        #calendar .columnview .timed-events .item {
            border-left: 10px solid red;
        }

        /* Calendar items - untimed */
        #calendar .columnview .untimed-events .buble {
        }
            #calendar .columnview .untimed-events .item {
                height: auto;
                border-bottom: 10px solid red;
            }
            #calendar .columnview .untimed-events .item strong {
                padding: 1px;
            }
            #calendar .columnview .untimed-events .item .note {
                background-color: #fff;
                color: #000;
                font-size: 90%;
            }

    .calstripes div {
        border-top: 1px dotted #999;
        /* Magic to make the lines not count for space */
        margin-top: -1px;
        position: relative;
        top: 1px;
    }

    .timeval span {
    }

.scroll,
.scrollv,
.scrollh {
    overflow: visible !important;
    height: auto !important;
    width: auto !important;
    max-height: auto !important;
}

/*
body {
    overflow: auto !important;
}

.conv-msg-list * {
    position: static !important;
}
*/

pre {
    font-family: bitstream vera sans mono, monaco, monospace;
    font-size: 10pt;
}



#conv-subject {
    font-size: xx-large;
}
